<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <% if (groceries === undefined) { %>
      <h1>No groceries to show</h1>
      <% } else { %>
      <h1 class="groceryItem-header"><%= groceries.groceryItem %></h1>
      <%- include ('../partials/nav-start.ejs') %>
        <li class="nav-item">
          <a class="nav-link" href="/groceries/<%= groceries.groceryItem %>/edit">Edit this Item</a>
        </li>
      <%- include ('../partials/nav-end.ejs') %>
      <table class="table table-striped table-bordered">
        <tr>
          <th>Priority</th>
          <td>
            <div class="itemPriority text-right">
              <%= groceries.itemPriority %>
            </div>
          </td>
        </tr>
        <tr>
          <th>Restock Quantity</th>
          <td>
            <div class="restockQuantity text-right">
              <%= groceries.restockQuantity %>
            </div>
          </td>
        </tr>
        <tr>
          <th>Consume Quantity</th>
          <td>
            <div class="consumeQuantity text-right">
              <%= groceries.consumeQuantity %>
            </div>
          </td>
        </tr>
        <tr>
          <th>Total Quantity</th>
          <td>
            <div class="totalQuantity text-right">
              <%= groceries.totalQuantity %>
            </div>
          </td>
        </tr>
      </table>

      <div class="footer-links">
        <form class="footer-link" method="POST" action="/groceries/<%= groceries.groceryItem %>?_method=PUT">
          <input type="submit" name="restock" id="restock" value="Restock this item" class="btn btn-primary" />
        </form>

        <form class="footer-link" method="POST" action="/groceries/<%= groceries.groceryItem %>?_method=PUT">
          <input type="submit" name="consume" id="consume" value="Consume this item" class="btn btn-warning" />
        </form>

        <form class="footer-link" method="POST" action="/groceries/<%= groceries.groceryItem %>?_method=DELETE">
          <input type="submit" name="delete" id="delete" value="Delete this item" class="btn btn-danger" />
        </form>
      </div>
      <% } %>
    </div>
  </body>
</html>
